*{
    margin: 0;
    padding: 0;
}



/* -------------------------------------------------------------------- */
.body-imagem{
    background: url(../images/city.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    backdrop-filter: brightness(0.4) blur(4px) ; 
    
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) { overflow-y: visible !important; }


/* ---------------------------------------------------------------------- */