*{
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------------------------- */
.body-imagem{
    /* background-color: rgb(243, 240, 240);  */
    background: url(../images/fundo-cinza.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    backdrop-filter: brightness(0.9) blur(2px) ; 
    
    
}

.fundo{
  background-color: white;
  color: black;
  border-radius: 6px;
}

/* ---------------------------------------------------------------------- */

